target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
*.swp
elm-stuff/
node_modules/
*.orig
elm/*.js
elm/uglifyjs
repo
repo/
repo.x/
accounting.css.map
.cache/
.spago/
purescript/output/
