

    <!-- Latest compiled and minified CSS -->
    <!--
    <link rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
      integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
      crossorigin="anonymous">
    -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">

    <!-- Optional theme -->
    <!--
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
          crossorigin="anonymous">
    -->

    <!--
    <link rel="stylesheet"
          type="text/css"
          href="https://cdn.datatables.net/v/bs/pdfmake-0.1.27/dt-1.10.15/b-1.3.1/b-html5-1.3.1/fc-3.2.2/fh-3.1.2/datatables.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/datatables/datatables.min.css"/>
    -->



    <!-- Local CSS -->
    <link rel="stylesheet" href="/css/harborview.css">
    <link rel="shortcut icon" href="/img/favicon.ico">

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <!--
            <div class="navbar-header">
                <a class="navbar-brand" href="#">WebSiteName</a>
            </div>
            -->
            <ul class="nav navbar-nav">
                <li><a href="/hourlist">Timeliste</a></li>
                <li><a href="/generaljournal">Kassadagbok</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Calls<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/opx/calls/1">NHY</a></li>
                        <li><a href="/opx/calls/2">STL</a></li>
                        <li><a href="/opx/calls/3">YAR</a></li>
                        <li><a href="/opx/calls/4">SDRL</a></li>
                        <li><a href="/opx/calls/5">ACY</a></li>
                        <li><a href="/opx/calls/6">TEL</a></li>
                        <li><a href="/opx/calls/7">OBX</a></li>
                        <li><a href="/opx/calls/8">MHG</a></li>
                        <li><a href="/opx/calls/9">ORK</a></li>
                        <li><a href="/opx/calls/10">DNBNOR</a></li>
                        <li><a href="/opx/calls/11">REC</a></li>
                        <li><a href="/opx/calls/12">PGS</a></li>
                        <li><a href="/opx/calls/13">RCL</a></li>
                        <li><a href="/opx/calls/14">STB</a></li>
                        <li><a href="/opx/calls/15">TAA</a></li>
                        <li><a href="/opx/calls/16">TGS</a></li>
                        <li><a href="/opx/calls/17">TOM</a></li>
                        <li><a href="/opx/calls/18">AKSO</a></li>
                        <li><a href="/opx/calls/19">DNB</a></li>
                        <li><a href="/opx/calls/20">DNO</a></li>
                        <li><a href="/opx/calls/21">GJF</a></li>
                        <li><a href="/opx/calls/22">NSG</a></li>
                        <li><a href="/opx/calls/23">SUBC</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Puts<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/opx/puts/1">NHY</a></li>
                        <li><a href="/opx/puts/2">STL</a></li>
                        <li><a href="/opx/puts/3">YAR</a></li>
                        <li><a href="/opx/puts/4">SDRL</a></li>
                        <li><a href="/opx/puts/5">ACY</a></li>
                        <li><a href="/opx/puts/6">TEL</a></li>
                        <li><a href="/opx/puts/7">OBX</a></li>
                        <li><a href="/opx/puts/8">MHG</a></li>
                        <li><a href="/opx/puts/9">ORK</a></li>
                        <li><a href="/opx/puts/10">DNBNOR</a></li>
                        <li><a href="/opx/puts/11">REC</a></li>
                        <li><a href="/opx/puts/12">PGS</a></li>
                        <li><a href="/opx/puts/13">RCL</a></li>
                        <li><a href="/opx/puts/14">STB</a></li>
                        <li><a href="/opx/puts/15">TAA</a></li>
                        <li><a href="/opx/puts/16">TGS</a></li>
                        <li><a href="/opx/puts/17">TOM</a></li>
                        <li><a href="/opx/puts/18">AKSO</a></li>
                        <li><a href="/opx/puts/19">DNB</a></li>
                        <li><a href="/opx/puts/20">DNO</a></li>
                        <li><a href="/opx/puts/21">GJF</a></li>
                        <li><a href="/opx/puts/22">NSG</a></li>
                        <li><a href="/opx/puts/23">SUBC</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Critters<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/critters/overlook/3">[3] Money Critters</a></li>
                        <li><a href="/critters/overlook/4">[4] Test Critters</a></li>
                        <li><a href="/critters/overlook/11">[11] Paper Critters</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Maunaloa<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/maunaloa/charts">Charts</a></li>
                        <li><a href="/maunaloa/optiontickers">Options</a></li>
                        <li><a href="/maunaloa/optionpurchases">Option Purchases</a></li>
                    </ul>
                </li>
                <li><a href="/vinapu">Vinapu</a></li>
                <!--
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Vinapu<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Loads</a></li>
                        <li><a href="#">Elements</a></li>
                    </ul>
                </li>
                -->
            </ul>
        </div>
    </nav>

    <!--
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
            integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
            integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
            crossorigin="anonymous"></script>
    -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <!--
    <script type="text/javascript"
        src="https://cdn.datatables.net/v/bs/pdfmake-0.1.27/dt-1.10.15/b-1.3.1/b-html5-1.3.1/fc-3.2.2/fh-3.1.2/datatables.min.js"></script>
    <script type="text/javascript" src="/js/datatables/datatables.min.js"></script>
    -->
    <script src="/js/common.js"></script>
